{% extends "management/base.html" %} {% load staticfiles %} {% block title %}查看任务{% endblock %} {% block content %}
    <script>

        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg)) return unescape(arr[2]);
            else return null;
        }

        begin_crawl = function () {
            if ("{{ task.hasfile }}" == "True") {
                alert('抓取成功');
            }
            else {
                $(function () {
                    $.ajaxSetup({headers: {"X-CSRFToken": getCookie("csrftoken")}});
                });
                $.post('/view_task/crawl/', {
                        task_id: "{{ task.id }}",
                        task_url: "{{ task.url }}",
                        task_content: "{{ task.content }}"
                    },
                    function (rep) {
                        if (rep['code'] == 0) {
                            alert('抓取成功');
                        }
                        else if (rep['code'] == 1) {
                            alert('任务错误');
                        }
                        else {
                            alert(rep['msg']);
                        }
                    }, "json");
            }
        }
                

        function begin_export() {
            alert('1');
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="embed-responsive embed-responsive-16by9 col-md-5">
                    <iframe class="embed-responsive-item" src="{{ task.url }}"></iframe>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <h2 class="text-center">{{ task.name }}</h2>
                    <br>
                    <h3>爬虫地址：</h3>
                    <div class="input-group input-group-lg col-md-offset-1">
                    <span class="input-group-addon" id="sizing-addon1"><span
                                class="glyphicon glyphicon-globe"></span></span>
                        <input class="form-control" type="text" placeholder="{{ task.url }}" readonly>
                    </div>
                    <h3>抓取内容：</h3>
                    <div class="input-group input-group-lg col-md-offset-1">
                    <span class="input-group-addon" id="sizing-addon1"><span
                                class="glyphicon glyphicon-th-large">   </span></span>
                        <input class="form-control" type="text" placeholder="{{ task.content }}" readonly>
                    </div>
                    <br>
                    <div class="form-group col-md-offset-3">
                        <div class="col-md-4">
                            <button class="btn btn btn-primary btn-block" type="crawl" onclick="begin_crawl()"><span
                                    class="glyphicon glyphicon-screenshot"></span> 抓取
                            </button>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn btn-warning btn-block" type="export" onclick="begin_export()"><span
                                    class="glyphicon glyphicon-floppy-save"></span> 导出
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
