{% extends "management/base.html" %} {% load staticfiles %} {% block title %}查看任务{% endblock %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <a href="/view_task/detail/?id={{ task.id }}" class="well-sm">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 返回任务界面
                </a>
            </div>
        </div>
        <div class="row">
            <div class="btn-group-vertical col-md-2" style="margin-top: 20px;">
                <button type="button" class="btn btn-defualt">
                    文件列表
                </button>
                {% for id,name in file_name_list %}
                    <button type="button" class="btn btn-primary">
                    <a href="/view_task/data/?task_id={{ task.id }}&data_id={{ id }}" style="color: #000;">
                    {{ name }}
                {% endfor %}
                </button>
                </a>
            </div>
            <div class="col-md-9 col-md-offset-1">
                <table class="table table-hover">
                    <!--                     <tbody>
                        {% for data in data_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'task_detail' %}?id={{ task.id }}">{{ task.name }}</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>无效数据</td>
                        </tr>
                        {% endfor %}
                    </tbody> -->
                </table>
        </div>
    </div>
    </div>
{% endblock %}
